<h1>Your Subscription Has Been Canceled</h1>

<p>Hi <%= @user.display_name %>,</p>

<p>Your ClawSaaS subscription has been canceled.</p>

<p>We're sorry to see you go! If you change your mind, you can resubscribe at any time from your dashboard.</p>

<p>
  <a href="<%= pricing_url %>">View Plans</a>
</p>

<p>If you have any feedback about your experience, we'd love to hear from you.</p>

<p>Best regards,<br>The ClawSaaS Team</p>
